:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
}

.app-container {
  height:100%;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto; /* Center the content */
  padding: 2rem;
}

.backContainer{
  width: 350px;
  align-items: start;
  justify-content: left;
  text-align: left;
  margin: auto;
}

.backButton:hover {
  border-color: #646cff;
}
.backButton:focus,
.backButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.backButton {
  transition: border-color 0.25s;
  background-color: #1a1a1a;
  font-size: 20px;
  cursor:pointer;
  width:78px;
  margin-bottom:5px;
  padding: 0 3px;
  border: 1px solid transparent;
  border-radius:8px;
}

.backIcon{
  margin-right:2px;
  width:20px;
  height:20px;
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.summonerIcon > img{
  height:130px;
  width:130px;
}

.read-the-docs {
  color: #888;
}

.playerCard{
  border:1px solid white;
  border-radius: 25px;
  margin-top:20px;
  margin-bottom:10px;
}

.card{
  padding:10px;
}

.card-text > p {
  margin-bottom:2px;
  margin-top:2px;
}

.card-text{
  margin-bottom:10px;
}

.searchPlayer > img {
  height:350px;
  width:350px;
  margin-bottom:-15px;
  border-radius:20px;
}

.inputSearch > input{
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  margin-right:2px;
  padding: 2px 6px;
  font-size: 15px;
}

.tagLineInput{
  width: 50px;
  height:28px;
}

.gameNameInput{
  width:150px;
  height:28px;
}

.hashtag{
  font-size: 20px;
  margin: auto 3px;
  font-weight: bold;
}

.inputSearch > input:focus{
  outline: 4px auto -webkit-focus-ring-color;
}

.spinnerContainer{
  margin:auto;
  border:1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.inputSearch{
  width:320px;
  height:35px;
  display:flex;
  justify-content: center;
  margin:auto;
}

.button {
  display: flex;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  height:28px;
  width:70px;
  margin-left:5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:2px 5px;
  vertical-align: center;
}

.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.secondary{
  margin-left:5px;
  background-color: #28508a;

}

.submitButtons{
  width:350px;
  display:flex;
  justify-content: center;
  margin: 10px auto auto;
}

.submitButtons .button{
  width:150px;
}

.responseText{
  font-size: 24px;
  margin-top:15px;
}

h2{
  font-size: 36px;
}

.danger{
  background-color: #652e2e;
}

.primary{
  background-color: #488148;
}

.inputModal{
  width:250px;
  display: flex;
  margin: auto;
}

.inputModal > input{
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  margin-right:2px;
  padding: 2px 6px;
  font-size: 15px;
}

.inputModal > input:focus{
  outline: 4px auto -webkit-focus-ring-color;
}

.modal-content > h2{
  font-size: 24px;
}

.header{
  width:100%;
  margin: auto;
  display: flex;
  align-items: center;
  border:1px solid white;
  height:30px;
}

.patchHeader{
  width:100px;
  margin:0 20px 0 20px;
}

.statusHeader{
  display: flex;
  width: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin:0 20px 0 20px;
}

.statusIcon{
  margin-left:5px;
  width:13px;
  height:13px;
  margin-top:3px;
}