:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:var(--color-text);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  --color-background: #FDF7E4;
  --color-foreground: #383737;
  --color-accent: #d3c3a6;
  --color-accent-border: #c1b193;
  --color-accent-hover: #e0d0b3;
  background-color: #FDF7E4;
  color: var(--color-foreground);
  --color-text: #181818;
}
body.dark {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  --color-background: #242424;
  --color-foreground: #f8f2ee;
  --color-accent: #b9b3c7;
  --color-accent-border: #1a1a1a;
  --color-accent-hover: #c9c3d7;
  background-color: #242424;
  --color-text: #fcf9f9;
}

.app-container {
  height:100%;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto; /* Center the content */
  padding: 2rem;
}

.backContainer{
  width: 350px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}

.backButton:hover {
  border-color: #646cff;
}
.backButton:focus,
.backButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.backButton {
  transition: border-color 0.25s;
  background-color: var(--color-accent-border);
  font-size: 20px;
  cursor:pointer;
  width:110px;
  margin-bottom:10px;
  padding: 0 3px;
  border: 1px solid transparent;
  border-radius:8px;
  color:var(--color-text);
}

.backIcon{
  margin-right:2px;
  width:20px;
  height:20px;
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-accent-border);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.summonerIcon > img{
  height:130px;
  width:130px;
}

.read-the-docs {
  color: #888;
}

.playerCard{
  border:1px solid var(--color-foreground);
  border-radius: 25px;
  margin: 20px auto 10px;
  background-color: var(--color-accent-border) !important;
  color: var(--color-text) !important;
  width:600px;
  height:100px;
  display: flex;
}

.card{
  padding:10px;

}

.card-text > p {
  margin-bottom:2px;
  margin-top:2px;
}

.card-text{
  margin-bottom:10px;
}

.searchPlayer > img {
  height:350px;
  width:350px;
  margin-bottom:10px;
  border-radius:20px;
}

.inputSearch > input{
  background-color: var(--color-accent-border);
  border-radius: 8px;
  border: 1px solid transparent;
  margin-right:2px;
  padding: 2px 6px;
  font-size: 15px;
}

.tagLineInput{
  width: 50px;
  height:28px;
}

.gameNameInput{
  width:150px;
  height:28px;
}

.hashtag{
  font-size: 20px;
  margin: auto 3px;
  font-weight: bold;
}

.inputSearch > input:focus{
  outline: 4px auto -webkit-focus-ring-color;
}

.spinnerContainer{
  border:1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width:70px;
  height:30px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: #fcf9f9;


  animation: spin 1s ease infinite;
  margin-right:25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.inputSearch{
  width:320px;
  height:35px;
  display:flex;
  justify-content: center;
  margin:auto;
}

.button {
  display: flex;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-accent-border);
  cursor: pointer;
  transition: border-color 0.25s;
  height:28px;
  width:70px;
  margin-left:5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:2px 5px;
  vertical-align: center;
  color: var(--color-text);
}

.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.secondary{
  margin-left:5px;
  background-color: #28508a;
  color:#fcf9f9;

}

.submitButtons{
  width:350px;
  display:flex;
  justify-content: center;
  margin: 10px auto auto;
}

.submitButtons .button{
  width:150px;
}

.responseText{
  font-size: 24px;
  margin-top:15px;
}

h2{
  font-size: 36px;
}

.danger{
  background-color: #652e2e;
  color:#fcf9f9;
}

.primary{
  background-color: #488148;
  color:#fcf9f9;
}

.updateB{
  background-color: var(--color-accent-border);
  display:flex;
  gap:5px;
  height:26px;
  width:100px;
  font-size: 16px;
  font-weight: normal;
  color: var(--color-text);
}

.inputModal{
  width:250px;
  display: flex;
  margin: auto;
}

.inputModal > input{
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  margin-right:2px;
  padding: 2px 6px;
  font-size: 15px;
}

.inputModal > input:focus{
  outline: 4px auto -webkit-focus-ring-color;
}

.modal-content > h2{
  font-size: 24px;
}

.header{
  width:500px;
  margin: -50px auto 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:30px;
}

.patchHeader{
  width:100px;
  margin:0 20px 0 20px;
}

.statusHeader{
  width:100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin:0 20px 0 20px;
  height:30px;
}

.headerTheme{
  height:30px;
  margin:0 20px 0 20px;
  width:100px;
}

.statusIcon{
  margin-left:5px;
  width:18px;
  height:18px;
}

.updateSection {
  display: flex;
  align-items: center;
  width: 600px;
  margin: auto auto -5px;
}

.updateButton .spinnerContainer{
  flex: 0 0 auto;
  margin-left: auto;
  margin-right:-10px;
}

.lastUpdated {
  flex: 0 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  font-size: 16px;
}

.lastUpdated > p{
  margin:0;
}

#tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--color-accent-border);
}

#tooltip-bottom > .tooltip-inner {
  padding:5px;
  border-radius: 5px;
  background-color: var(--color-accent-border);
  color: var(--color-foreground);
}

#tooltip-right .tooltip-arrow::before {
  border-right-color: var(--color-background);
}

#tooltip-right > .tooltip-inner {
  padding:5px;
  border-radius: 5px;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

#tooltip-top .tooltip-arrow::before {
  border-top-color: var(--color-background);
}

#tooltip-top > .tooltip-inner {
  padding:5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.placementText{
  font-weight: bold;
  margin-top:7px;
  margin-left:10px;
  font-size: 24px;
}
.footer{
  width:600px;
  margin: 100px auto -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height:30px;
}

.techstackFooter{
  display: flex;
  width:300px;
  justify-content: center;
  gap:10px;
  align-items: center;
}


.socialsFooter{
  display: flex;
  align-items: center;
  width:150px;
  cursor:pointer;
  gap:10px;
}

.copyrightFooter{
  width:150px;
}

.contactForm{
  width:400px;
}

.contactForm > h1{
  font-size:28px;
  margin-bottom:20px;
}

.submitForm{
  margin-left:auto;
}

.submitForm, .backForm{
  width:85px;
}

.addButton{
  display: flex;
}

.player-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:30px;
  width:600px;
}

.player-card {
  display: flex;
  align-items: center;
  background-color: var(--color-accent-border);
  color: var(--color-text);
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height:90px;
}

.player-rank {
  margin-left:15px;
  width:40px;
  height:40px;
}

.player-avatar img {
  margin-left:35px;
  margin-right:-50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.player-avatar{
  width:100px;
}

.player-info h3 {
  margin: 0;
}

.player-info p {
  margin: 0;
}

.player-info{
  display: flex;
  width: 500px;
}

.rankingIcon{
  margin:auto;
  height:40px;
  width:40px;
}

.placementCircle{
  height:18px;
  width:18px;
}

.rankAndName{
  height:50px;
  width:300px;
  margin: auto;
  text-align: center;

}

.winsLosses{
  width:70px;
  height:100%;
  margin: auto auto auto -30px;
  text-align: center;
  font-size:24px;
}

.winsLosses > p{
  font-size: 14px;

}

.winRate{
  margin: auto 0 auto auto;
  width:80px;
  height:100%;
  font-size:12px;
}

.rankAndName > h2 {
  font-size: 24px;
  margin-bottom:0;
}

.winrate1{
  font-size:20px;
  font-weight: bold;
}

.winrate2{
  font-size: 14px;
}

.image-container {
  width: 27px;
  height: 27px;
  overflow: hidden;
  border-radius: 50%;
  margin: 3px 2px auto auto;
}

.image-container1 {
  margin: auto auto 5px 5px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
}

.image-container2 {
  margin: 5px auto -4px;
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
}

.winsLosses > .image-container2 > img {
  display: block;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  margin: -2px;
}

.image-bottom > .image-container > img {
  display: block;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  margin: -2px;
}

.image-bottom > .image-container1 > img {
  display: block;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  margin: -2px;
}

.image-bottom{
  margin-top:5px;
  display: flex;
  width:70px;

}

.streak{
  color:orange;
  font-size:20px;
  margin-top:-1px;
  margin-right:5px;
  margin-left:-20px;
}

.nameAndStreak{
  display: flex;
  justify-content: center;
  margin-bottom:-5px;
}

.nameAndStreak > h2{
  font-size:24px;
}