:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:var(--color-text);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  --color-background: #f0f4ef;
  --color-foreground: #383737;
  --color-accent: #344966;
  --color-accent-border: #344966;
  --color-accent-hover: #344966;
  background-color: #f0f4ef;
  color: var(--color-foreground);
  --color-text: #fcf9f9;
}
body.dark {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  --color-background: #242424;
  --color-foreground: #f8f2ee;
  --color-accent: #b9b3c7;
  --color-accent-border: #1a1a1a;
  --color-accent-hover: #c9c3d7;
  background-color: #242424;
  --color-text: #fcf9f9;
}

.app-container {
  height:100%;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;
}

.backContainer{
  width: 350px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}

.backButton:hover {
  border-color: #646cff;
}
.backButton:focus,
.backButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.backButton {
  transition: border-color 0.25s;
  background-color: var(--color-accent-border);
  font-size: 20px;
  cursor:pointer;
  width:130px !important;
  margin-bottom:10px;
  padding: 0 3px;
  border: 1px solid transparent;
  border-radius:8px;
  color:var(--color-text);
}

.backIcon{
  margin-right:2px;
  width:20px;
  height:20px;
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-accent-border);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.summonerIcon > img{
  height:130px;
  width:130px;
}

.read-the-docs {
  color: #888;
}



.playerCard{
  border:1px solid var(--color-foreground);
  border-radius: 25px;
  margin: 20px auto 10px;
  background-color: var(--color-accent-border) !important;
  color: var(--color-text) !important;
  width:600px;
  height:100px;
  display: flex;
}

.card{
  padding:10px;

}

.card-text > p {
  margin-bottom:2px;
  margin-top:2px;
}

.card-text{
  margin-bottom:10px;
}

.searchPlayer > img {
  height:350px;
  width:350px;
  margin-bottom:10px;
  border-radius:20px;
}

.inputSearch > input{
  background-color: var(--color-accent-border);
  border-radius: 8px;
  border: 1px solid transparent;
  margin-right:2px;
  padding: 2px 6px;
  font-size: 15px;
}

.tagLineInput{
  width: 50px;
  height:28px;
  color: white;
}

.gameNameInput{
  color: white;
  width:150px;
  height:28px;
}

.hashtag{
  font-size: 20px;
  margin: auto 3px;
  font-weight: bold;
}

.inputSearch > input:focus{
  outline: 4px auto -webkit-focus-ring-color;
}

.spinnerContainer{
  border:1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width:70px;
  height:30px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: #fcf9f9;


  animation: spin 1s ease infinite;
  margin-right:25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.inputSearch{
  width:320px;
  height:35px;
  display:flex;
  justify-content: center;
  margin:auto;
}

.button {
  display: flex;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-accent-border);
  cursor: pointer;
  transition: border-color 0.25s;
  height:28px;
  width:70px;
  margin-left:5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:2px 5px;
  vertical-align: center;
  color: var(--color-text);
}

.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.secondary{
  margin-left:5px;
  background-color: #28508a;
  color:#fcf9f9;

}

.submitButtons{
  width:350px;
  display:flex;
  justify-content: center;
  margin: 10px auto auto;
}

.submitButtons .button{
  width:150px;
}

.responseText{
  font-size: 24px;
  margin-top:15px;
}

h2{
  font-size: 36px;
}

.danger{
  background-color: #652e2e;
  color:#fcf9f9;
}

.primary{
  background-color: #488148;
  color:#fcf9f9;
}

.updateB{
  background-color: var(--color-accent-border);
  display:flex;
  gap:5px;
  height:30px;
  width:150px;
  font-size: 16px;
  font-weight: normal;
  color: var(--color-text);
}

.inputModal{
  width:250px;
  margin: auto;
  color: var(--color-text);
}

.inputModal > input{
  background-color: #1a1a1a;
  margin-bottom:10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 2px 6px;
  font-size: 15px;
  color: var(--color-text);
  width:185px;
}

.inputModal > input:focus{
  outline: 4px auto -webkit-focus-ring-color;
}

.inputModal > label{
  width:185px;
  text-align: left;
  margin-left:5px;
  margin-bottom:5px;
}

.modal-content > h2{
  font-size: 24px;
}

.logIn{
  margin: auto;
  width:185px;
}

.header{
  width:500px;
  margin: -50px auto 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:30px;
  color: var(--color-foreground);
}

.patchHeader{
  width:100px;
  margin:0 20px 0 20px;
}

.statusHeader{
  width:100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin:0 20px 0 20px;
  height:30px;
}

.headerTheme{
  height:30px;
  margin:0 20px 0 20px;
  width:100px;
}

.statusIcon{
  margin-left:5px;
  width:18px;
  height:18px;
}

.updateSection {
  display: flex;
  align-items: center;
  width: 600px;
  margin: auto auto -5px;
}

.updateButton .spinnerContainer{
  flex: 0 0 auto;
}

.lastUpdated {
  flex: 0 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  font-size: 16px;
  color: var(--color-foreground);
}

.lastUpdated > p{
  margin:0;
}

#tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--color-accent-border);
}

#tooltip-bottom > .tooltip-inner {
  padding:5px;
  border-radius: 5px;
  background-color: var(--color-accent-border);
  color: var(--color-text);
}

#tooltip-top2 .tooltip-arrow::before {
  border-top-color: var(--color-accent-border);
}

#tooltip-top2 > .tooltip-inner {
  padding:5px;
  border-radius: 5px;
  background-color: var(--color-accent-border);
  color: var(--color-text);
}

#tooltip-bottom2 .tooltip-arrow::before {
  border-bottom-color: var(--color-background);
}

#tooltip-bottom2 > .tooltip-inner {
  padding:5px;
  border-radius: 5px;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

#tooltip-right .tooltip-arrow::before {
  border-right-color: var(--color-background);
}

#tooltip-right > .tooltip-inner {
  padding:5px;
  border-radius: 5px;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

#tooltip-top .tooltip-arrow::before {
  border-top-color: var(--color-background);
}

#tooltip-top > .tooltip-inner {
  padding:5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

#tooltip-invis .tooltip-arrow::before {
  border-top-color: transparent;
}

#tooltip-invis > .tooltip-inner {
  padding:5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  color: transparent;
}

.placementText{
  font-weight: bold;
  margin-top:7px;
  margin-left:10px;
  font-size: 24px;
}
.footer{
  width:600px;
  margin: 100px auto -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height:30px;
  color: var(--color-foreground);
}

.techstackFooter{
  display: flex;
  width:300px;
  justify-content: center;
  gap:10px;
  align-items: center;
}


.socialsFooter{
  display: flex;
  align-items: center;
  width:150px;
  cursor:pointer;
  gap:10px;
}

.copyrightFooter{
  width:150px;
}

.contactForm{
  width:400px;
}

.contactForm > h1{
  font-size:28px;
  margin-bottom:20px;
}

.submitForm{
  margin-left:auto;
}

.submitForm, .backForm{
  width:85px;
}

.addButton{
  display: flex;
}

.player-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:30px;
  width:600px;
}

.player-card {
  display: flex;
  align-items: center;
  background-color: var(--color-accent-border);
  color: var(--color-text);
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height:110px;
  cursor: pointer;
}

.player-rank {
  margin-left:0;
  margin-right:15px;
  width:40px;
  height:40px;
}

.player-avatar img {
  margin-left:35px;
  margin-right:-80px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.player-avatar{
  width:100px;
}

.player-avatar #ranked-border {

  position: absolute;
  width: 210px;
  height: 270px;
  margin-left: -35px;
  margin-top: -127px;
  z-index: 2; /* Ensures the border is above the player icon */
}


.player-info h3 {
  margin: 0;
}

.player-info p {
  margin: 0;
}

.player-info{
  display: flex;
  width: 500px;
}

.rankingIcon{
  margin:auto;
  height:40px;
  width:40px;
}

.placementCircle{
  height:18px;
  width:18px;
}

.rankAndName{
  height:100%;
  width:300px;
  margin: auto auto auto 50px;
  text-align: center;

}

.winsLosses{
  width:70px;
  height:100%;
  margin: auto auto auto -30px;
  text-align: center;
  font-size:24px;
}

.winsLosses > p{
  font-size: 14px;

}

.winRate{
  margin: auto 0 auto auto;
  width:80px;
  height:100%;
  font-size:12px;
}

.rankAndName > h2 {
  font-size: 24px;
  margin-bottom:0;
}

.winrate1{
  font-size:20px;
  font-weight: bold;
}

.winrate2{
  font-size: 14px;
}

.image-container {
  width: 27px;
  height: 27px;
  overflow: hidden;
  border-radius: 50%;
  margin: 3px 2px auto auto;
}

.image-container1 {
  margin: auto auto 5px 5px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
}

.image-container2 {
  margin: 5px auto -4px;
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
}

.winsLosses > .image-container2 > img {
  display: block;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  margin: -2px;
}

.image-bottom > .image-container > img {
  display: block;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  margin: -2px;
}

.image-bottom > .image-container1 > img {
  display: block;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  margin: -2px;
}

.image-bottom{
  margin-top:5px;
  display: flex;
  width:70px;

}

.streak{
  color:orange;
  margin-top:-1px;
  margin-right:5px;
  margin-left:-20px;
}

.nameAndStreak{
  display: flex;
  justify-content: center;
  margin-bottom:-5px;
}

.nameAndStreak > h2{
  font-size:24px;
}

.render{
  -webkit-animation: loadingCards 2s infinite;
  -moz-animation: loadingCards 2s infinite;
  -o-animation: loadingCards 2s infinite;
  animation: loadingCards 2s infinite
}

@-webkit-keyframes loadingCards {
  0%   {opacity: 0.3;}
  25%  {opacity: 1;}
  50%  {opacity: 1;}
  75%  {opacity: 1;}
  100% {opacity: 0.3;}
}

.rankedtoggle{
  margin-left:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:auto;
  width:150px;
  color: var(--color-foreground);
}

.rankedText{
  margin-left:5px;
  font-size: 16px;
  margin-bottom:5px;
}

.row{
  display: flex !important;
}

.left > h1{
  font-size: 22px;
  color: blue;
}

.right > h1{
  font-size: 22px;
  color: red;
}

.left{
  width:200px !important;
  margin-right:auto;
  text-align: left;
}

.right{
  width:200px !important;
  margin-left:auto;
  text-align: right;
}

.center{
  width:20px !important;
  margin-left:auto;
  margin-right:auto;
}

.left > img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-bottom: 3px;
  margin-right:3px;
}

.right > img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-bottom: 3px;
  margin-left:3px;
}

.fa-users,
.fa-user {
  font-size:14px;
  margin-top: -2px;
  margin-left:-2px;
}

.fa-user{
  color: #302c3d;
}

.fa-users{
  color: #d4d9d6;
}

.react-toggle--checked .react-toggle-track {
  background-color: #ffffff;
}

.button-toggled:active,
.button-toggled:focus {
  background-color: #3f3d46;
}

.button-toggled:hover {
  background-color: #3f3d46;
}

.react-toggle-track-check {
  color: #ffffff;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: #302c3d;
}

.moreOptions{
  font-size: 16px;
  margin-left:auto;
  margin-right:10px;
  width:150px;
  display: flex;
}

.optionIcon {
  font-size: 20px;
  margin-left: 5px;
  margin-top: -2px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
    background-color: var(--color-accent-border) !important;
    color: #f0f4ef;
    border-radius: 8px;
    border: 1px solid transparent;
    margin-right:2px;
    padding: 2px 6px;
    font-size: 15px;
    text-align: center;

}

.dropdown-item{
    background-color: var(--color-accent-border) !important;
    color: #f0f4ef !important;
    border-radius: 8px;
    border: 1px solid var(--color-accent-border) !important;
    margin-right:2px;
    padding: 2px 6px;
    font-size: 15px;
    text-align: center !important;
}

.dropdown-item:hover{
    color: #f0f4ef !important;
    border-radius: 8px;
    border: 1px solid #646cff !important;
    text-align: center !important;

}

#dropdown-custom{
  border: 0;
  background-color: transparent;
}

#upSolo{
    margin-left:2px;
    color: #f0f4ef;
}

.liveModal .modal-content{
  background-color: var(--color-accent-border);
  color: #f0f4ef;
}

.liveModal .modal-header{
  border-color: var(--color-background);
}

.liveModal .modal-footer{
  border-color: var(--color-background);
}


@media only screen and (max-width: 450px) {

  .player-cards-container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 40px;
  }

  .player-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left:-25px;
    margin-right:0;
  }

  .player-avatar{
    width:60px;
    margin: auto;
  }

  .header{
    width:330px;
    font-size: 14px;
    margin-bottom:0;
  }

  .footer{
    width:300px;
    font-size: 10px;
    margin: auto;
    display: unset;
  }

  .techstackFooter{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
  }


  .socialsFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    cursor:pointer;
  }

  .copyrightFooter{
    width:100%;
  }
  .rankAndName{
    margin-top:0;
    width:130px;
    font-size: 10px;
    align-items: center;
    margin-left:-15px;
  }

  .nameAndStreak{
    width:130px;
  }

  .rankAndName > p{
    margin-bottom:20px;
  }

  .rankAndName > h2{
    font-size: 12px;
    margin-bottom: -10px;
  }

  .nameAndStreak > h2{
    font-size: 15px;

  }

  .streak{
    font-size: 16px;
    margin-top:-3px;

  }


  .image-container {
    width: 15px;
    height: 15px;
  }

  .image-container1 {
    width: 19px;
    height: 19px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto auto 2px 2px;
  }


  .image-container2 {
    margin: 2px auto -5px;
    width: 26px;
    height: 26px;
  }
  .image-bottom{
    margin-top:5px;
    display: flex;
    width:40px;
  }

  .winsLosses{
    width:40px;
    margin-top:-17px;
    margin-right:-80px;
  }

  .rankingIcon{
    height:30px;
    width:30px;
    margin-right:-10px !important;
    margin-bottom:-9px !important;
  }

  .placementCircle{
    height:14px;
    width:14px;
    margin-left:-2px !important;
    margin-top: 3px !important;
  }

  .player-info{
    width:100%;
  }

  .placementText{
    font-size:19px;
    margin-left:5px !important;
  }

  .winRate{
    font-size:10px;
    margin-bottom:-17px;
    width:50px;
  }
  .winrate1{
    font-size:16px;
    font-weight: bold;
  }

  .winrate2{
    font-size: 0;
  }

  .player-rank{
    margin-left:-5px;
    margin-right:20px;
  }

  .app-container {
    height:100%;
    max-width: 330px;
    min-width: 330px;
    width:330px;
    margin: auto;
    justify-self: center;
    justify-content: center;
  }

  body{
    width:100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :root{
    width:100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #root {
    margin: auto;

  }

  .updateSection{
    width:300px;
    font-size: 12px;
    display: unset;
    justify-content: center;
    align-items: center;
  }

  .updateB{
    font-size: 14px;
    margin: auto auto 15px;
    width:225px;
    height:35px;
  }

  .rankedtoggle{
    width:225px;
    height:35px;
    justify-content: center;
    margin: auto auto 15px;
    color: var(--color-foreground);
  }

  .moreOptions{
    width:225px;
    height:35px;
    margin: auto auto 15px;
    justify-content: center;
  }


}