.match {
    display: flex;
    flex-direction: column;
    background-color: var(--color-accent-border);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.match-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.result {
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 4px;
}

.result.win {
    background-color: #d4edda;
    color: #155724;
}

.result.lose {
    background-color: #f8d7da;
    color: #721c24;
}

.queue-type {
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left:-25px;
}

.game-duration {
    background-color: #fff3cd;
    color: #856404;
    padding: 2px 5px;
    border-radius: 4px;
}

.champion-items {
    display: flex;
    align-items: center;
}

.champion-icon{
    width:60px;
    height:60px;
    border-radius:50%;
    margin-right:20px;
    margin-left:10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.champion-icon > img{
    display:block;
    width:110%;
    height:110%;
}

.item-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius:10px;
}

.item-icon > img{
    width:45px;
    height:45px;
    position:absolute;
}

.emptyItem {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: var(--color-background);
    border-radius:10px;
}

.trinket {
    margin-left: auto;
}

.items {
    display: flex;
}

.stats {
    width:97%;
    margin: 10px auto auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight:bold;
    border-radius:25px;
    /*background-color: rgba(227, 227, 227, 0.35);*/
    padding: 0 10px;
}

.result-win {
    background-color: #3d6e3f;
}


.result-lose{
    background-color: #5f3537;
}

.average-rank{
    background-color: rgba(227, 227, 227, 0.35);
    padding:0 5px;
    border-radius:20px;
}