.match {
    display: flex;
    flex-direction: column;
    background-color: var(--color-accent-border);
    margin-bottom: 20px;
    margin-top:10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.match-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.result {
    padding: 2px 5px;
    border-radius: 4px;
}

.result.win {
    background-color: #d4edda;
    color: #155724;
}

.result.lose {
    background-color: #f8d7da;
    color: #721c24;
}

.queue-type {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 248, 248, 0.24);
    color: white;
    padding: 0 10px;
    border-radius: 25px;
    margin-left:-25px;
}

.game-duration {
    padding: 2px 5px;
    border-radius: 4px;
}

.champion-items {
    display: flex;
    align-items: center;
}

.champion-icon{
    width:70px;
    height:70px;
    border-radius:50%;
    margin-right:15px;
    margin-left:10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.champion-level {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.91);
    color: white;
    font-size: 16px;
    font-weight:bold;
    width:35px;
    height:35px;
    border-radius: 50%;
    margin-top:45px;
    margin-left:50px;
}

.champion-icon > img{
    display:block;
    width:110%;
    height:110%;
}

.item-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius:10px;
    overflow: hidden;
}

.item-icon > img{
    width:45px;
    height:45px;
    position:absolute;
}

.emptyItem {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: var(--color-background);
    border-radius:10px;
}

.trinket {
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height:30px;
    margin: auto auto auto 5px;
}

.trinket > img{
    width:30px;
    height:30px;
}

.items {
    display: flex;
}

.stats {
    width:100%;
    margin: 10px auto auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight:bold;
    border-radius:25px;
    /*background-color: rgba(227, 227, 227, 0.35);*/
    padding: 0 10px;
}

.stats > span >img{
    width:18px;
    height:18px;
    margin-bottom:5px;
    margin-right:2px;
}

.game-duration > img{
    width:18px;
    height:18px;
    margin-bottom:5px;
    margin-right:2px;
}

.result-win {
    background-color: #3d6e3f;
}


.result-lose{
    background-color: #5f3537;
}

.average-rank{
    background-color: rgba(227, 227, 227, 0.2);
    padding:0 5px;
    border-radius:20px;
}

.summoner-spells{
    display: flex;
    flex-direction: column;
    margin-right:5px;
    gap:5px;
}

.summoner-spells > img{
    width:30px;
    height:30px;
    border-radius:50%;
}

.position > img{
    width:45px;
    height:45px;
}

.position{
    margin-left:auto;
    margin-right:10px;
}

.position > span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: bold;
    width:35px;
    height:35px;
    margin-left:-10px;
    margin-top:-20px;
    border-radius:50%;
}

.runes > img{
    margin-top:-15px;
    width:45px;
    height:45px;
    margin-right:15px;
}

#secondaryRune{
    position: absolute;
    margin-left:-30px;
    margin-top:15px;
}

#secondaryRune > img{
    width:20px;
    height:20px;
}